<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Productos</h1>
    <div>
        {{#each products}}
        <div>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Precio: {{this.price}}</p>
            <img src="{{this.thumbnail.[0]}}" alt="Imagen de {{this.title}}">
            <form action="/api/cart/{{../cartId}}/{{this._id}}" method="POST">
                <button type="submit">Agregar al Carrito</button>
            </form>
        </div>
        {{/each}}
    </div>

    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
