<h1>Esto es un h1 de prueba</h1>

{{#if mostrarProductos}}
{{#each productos}}
<div>
    <p>Titulo: {{this.title}} </p>
    <p>Precio: {{this.price}} </p>
    <img src="{{this.img}}" alt="imagen de {{this.title}}"></img>
</div>
{{/each}}
{{else}}
    <p>Es falso</p>
{{/if}}